body{
    background-color: #0C356A;
}
label{
    color: white;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.heading{
    margin: 50px auto;
    text-align: center;
    color: white;
    font-size: 40;
}
.container{
    margin-top: 150px;
    padding-left: 300px;
    padding-right: 300px;
}

.form-control{
    background-color: #D5FFD0;
}
.btn{
    background-color : #362FD9;
    border-color : white;
    color: white;
    font-weight: bold;
}